
<include file="Index/header" />
<section>
  <div class="container">
  <p>&nbsp</p>
    <p>&nbsp</p>
    
    <div class="row">
      <div class="col-sm-8 col-md-8">
        
        <div class="news-list">
          <volist name="result['listNews']" id="vo">
          <dl>
            <dt><a href="/index.php?c=detail&id={$vo.news_id}" target="_blank">{$vo.title}</a></dt>
            <dd class="news-img">
              <a href="/index.php?c=detail&id={$vo.news_id}" target="_blank"><img src="{$vo.thumb}" alt="{$vo.title}" width="200" height="120"></a>
            </dd>
            <dd class="news-intro">
              {$vo.description}
            </dd>
            <dd class="news-info">
              {$vo.keywords}
              <span>
                {$vo.create_time|date="Y-m-d H:s",###}
                
              </span> 阅读(<i news-id="{$vo.news_id}" class="news_count node-{$vo.news_id}"></i>)
            </dd>
          </dl>
          </volist>
          
        </div>
        <nav>
          <ul class="pagination">
            {$result['pageRes']}
          </ul>
        </nav>
      </div>
      <!--网站右侧信息-->
      

        <div class="col-md-4 sidebar-gutter">
          <p>&nbsp</p>
      <include file="Index/right" />
    </div>
  </div>
</section>
<script>
  var SCOPE = {
    'count_url' : '/index.php?c=index&a=get_count',
    
  }
</script>
</body>
<script src="/Public/js/jquery.js"></script>
<script src="/Public/js/bootstrap.min.js"></script>
<script src="/Public/js/count.js"></script>
</html>